In [1]:
import pandas as pd
import numpy as np

tips = pd.read_csv('tips.csv')
# Add tip percentage of total bill
tips['tip_pct'] = tips['tip'] / tips['total_bill']

def top(df, n=5, columns='tip_pct'):
    return df.sort_values(by=columns)[-n:]

top(tips)

     total_bill   tip smoker  day    time  size   tip_pct
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
232       11.61  3.39     No  Sat  Dinner     2  0.291990
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345

In [2]:
tips.groupby('smoker').apply(top) 
# top函数在每一行分组上被调用
# 之后使用pandas.concat将函数结果粘贴在一起,并使用分组名作为各组的标签

            total_bill   tip smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85     No  Thur   Lunch     2  0.236746
       185       20.69  5.00     No   Sun  Dinner     5  0.241663
       51        10.29  2.60     No   Sun  Dinner     2  0.252672
       149        7.51  2.00     No  Thur   Lunch     2  0.266312
       232       11.61  3.39     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [3]:
tips.groupby('smoker', group_keys=False).apply(top) # 默认group_keys=True
# 向groupby传递group_keys=False来禁止生成由分组键所形成的分层索引

     total_bill   tip smoker   day    time  size   tip_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [4]:
tips.groupby(['smoker', 'day']).apply(top, n=2, columns='total_bill') # 给apply中的函数传递参数

                 total_bill    tip smoker   day    time  size   tip_pct
smoker day
No     Fri  91        22.49   3.50     No   Fri  Dinner     2  0.155625
            94        22.75   3.25     No   Fri  Dinner     2  0.142857
       Sat  59        48.27   6.73     No   Sat  Dinner     4  0.139424
            212       48.33   9.00     No   Sat  Dinner     4  0.186220
       Sun  112       38.07   4.00     No   Sun  Dinner     3  0.105070
            156       48.17   5.00     No   Sun  Dinner     6  0.103799
       Thur 85        34.83   5.17     No  Thur   Lunch     4  0.148435
            142       41.19   5.00     No  Thur   Lunch     5  0.121389
Yes    Fri  90        28.97   3.00    Yes   Fri  Dinner     2  0.103555
            95        40.17   4.73    Yes   Fri  Dinner     4  0.117750
       Sat  102       44.30   2.50    Yes   Sat  Dinner     3  0.056433
            170       50.81  10.00    Yes   Sat  Dinner     3  0.196812
       Sun  184       40.55   3.00    Yes   Sun  Dinner     2  0.073983
            182       45.35   3.50    Yes   Sun  Dinner     3  0.077178
       Thur 83        32.68   5.00    Yes  Thur   Lunch     2  0.152999
            197       43.11   5.00    Yes  Thur   Lunch     4  0.115982

In [5]:
frame = pd.DataFrame({'data1': np.random.randn(1000),
                      'data2': np.random.randn(1000)})
quartiles = pd.cut(frame.data1, 4)

In [6]:
quartiles[:10] # type为Series,dtype为Categorical对象

0     (0.182, 1.694]
1     (0.182, 1.694]
2     (0.182, 1.694]
3     (0.182, 1.694]
4     (-1.33, 0.182]
5    (-2.848, -1.33]
6     (-1.33, 0.182]
7     (0.182, 1.694]
8    (-2.848, -1.33]
9     (-1.33, 0.182]
Name: data1, dtype: category
Categories (4, interval[float64]): [(-2.848, -1.33] < (-1.33, 0.182] < (0.182, 1.694] < (1.694, 3.206]]

In [7]:
grouped = frame.data2.groupby(quartiles) # Categorical对象可以直接传递给groupby

In [8]:
for i in grouped:
    print(i)

(Interval(-2.848, -1.33, closed='right'), 5      1.298021
8     -2.486720
49     0.787483
54    -0.278335
55     1.055410
         ...
969   -1.197350
972   -1.161351
974   -0.232312
976   -0.913734
997    0.606593
Name: data2, Length: 104, dtype: float64)
(Interval(-1.33, 0.182, closed='right'), 4      1.085934
6     -1.610597
9     -1.017865
10     0.115013
12     0.195579
         ...
987   -1.745161
994    1.290354
995    1.159565
996   -1.332761
999    1.462252
Name: data2, Length: 472, dtype: float64)
(Interval(0.182, 1.694, closed='right'), 0     -1.373814
1     -2.838767
2      0.932857
3     -1.233964
7     -0.305975
         ...
990    0.091225
991    0.671087
992   -0.161297
993   -1.254020
998   -0.516716
Name: data2, Length: 399, dtype: float64)
(Interval(1.694, 3.206, closed='right'), 42    -1.246327
59    -1.714795
69    -0.386821
85    -0.255308
109    0.771024
130   -0.283302
135    0.690335
141   -0.047791
186   -0.112057
280    0.060135
281    0.671771
300   -1.550896
320   -1.144658
325    0.190138
457   -1.488560
488    0.757243
567    0.621962
610    1.749212
695   -1.601429
737   -0.967988
755   -2.337967
809   -1.283824
884    0.707428
893    0.829076
970    0.291182
Name: data2, dtype: float64)

In [9]:
def get_stats(group):
    
    return pd.Series({'min': group.min(), 'max': group.max(),
            'count': group.count(), 'mean': group.mean(), 'sum': np.sum(group)})

In [10]:
grouped.apply(get_stats).unstack() # apply中同时应用与多个函数

                      min       max  count      mean        sum
data1
(-2.848, -1.33] -2.784456  2.025541  104.0 -0.156148 -16.239442
(-1.33, 0.182]  -2.755124  3.191829  472.0  0.065083  30.719104
(0.182, 1.694]  -2.838767  2.779624  399.0 -0.036365 -14.509494
(1.694, 3.206]  -2.337967  1.749212   25.0 -0.283289  -7.082217

In [11]:
# 三者等价
print(tips.groupby('smoker').apply(min), end='\n\n') # 执行任何类型的操作
print(tips.groupby('smoker').agg(min)) # 仅支持聚合类型操作
print(tips.groupby('smoker').min(), end='\n\n')

        total_bill  tip smoker  day    time  size   tip_pct
smoker
No            7.25  1.0     No  Fri  Dinner     1  0.056797
Yes           3.07  1.0    Yes  Fri  Dinner     1  0.035638

        total_bill  tip  day    time  size   tip_pct
smoker
No            7.25  1.0  Fri  Dinner     1  0.056797
Yes           3.07  1.0  Fri  Dinner     1  0.035638
        total_bill  tip  day    time  size   tip_pct
smoker
No            7.25  1.0  Fri  Dinner     1  0.056797
Yes           3.07  1.0  Fri  Dinner     1  0.035638