In [9]:
import  numpy as np
import  pandas as pd

In [10]:
'''
可直接使用的聚合函数如下:
mean()	        Compute mean of groups
sum()	        Compute sum of group values
size()	        Compute group sizes
count()	        Compute count of group
std()	        Standard deviation of groups
var()	        Compute variance of groups
sem()	        Standard error of the mean of groups
describe()	    Generates descriptive statistics
first()	        Compute first of group values
last()	        Compute last of group values
nth()	        Take nth value, or a subset if n is a list
min()	        Compute min of group values
max()	        Compute max of group values
'''

'\n可直接使用的聚合函数如下:\nmean()\t        Compute mean of groups\nsum()\t        Compute sum of group values\nsize()\t        Compute group sizes\ncount()\t        Compute count of group\nstd()\t        Standard deviation of groups\nvar()\t        Compute variance of groups\nsem()\t        Standard error of the mean of groups\ndescribe()\t    Generates descriptive statistics\nfirst()\t        Compute first of group values\nlast()\t        Compute last of group values\nnth()\t        Take nth value, or a subset if n is a list\nmin()\t        Compute min of group values\nmax()\t        Compute max of group values\n'

In [11]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  2.422018 -0.233646
1    a  two  1.020135  0.581207
2    b  one  0.087783  0.023423
3    b  two  0.251696 -0.983557
4    a  one -0.482982 -0.648607

In [12]:
group = df.groupby('key1')
for _, j in group:
    print(j)

  key1 key2     data1     data2
0    a  one  2.422018 -0.233646
1    a  two  1.020135  0.581207
4    a  one -0.482982 -0.648607
  key1 key2     data1     data2
2    b  one  0.087783  0.023423
3    b  two  0.251696 -0.983557

In [13]:
group['data1'].quantile(0.9) # 计算样本从0到1间的分位数

key1
a    2.141642
b    0.235305
Name: data1, dtype: float64

In [14]:
group['data1'].mean()

key1
a    0.986390
b    0.169739
Name: data1, dtype: float64

In [15]:
group['data1'].prod()

key1
a   -1.193345
b    0.022095
Name: data1, dtype: float64

In [16]:
group.describe()

     data1                                                              \
     count      mean       std       min       25%       50%       75%
key1
a      3.0  0.986390  1.452794 -0.482982  0.268576  1.020135  1.721076
b      2.0  0.169739  0.115904  0.087783  0.128761  0.169739  0.210718

               data2                                                    \
           max count      mean       std       min       25%       50%
key1
a     2.422018   3.0 -0.100349  0.625649 -0.648607 -0.441126 -0.233646
b     0.251696   2.0 -0.480067  0.712042 -0.983557 -0.731812 -0.480067


           75%       max
key1
a     0.173781  0.581207
b    -0.228322  0.023423