In [21]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
frame

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [22]:
frame.iloc[:, 2][2] = 1000

In [23]:
frame # frame发生了改变

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9   1000    11
New York   12   13     14    15

In [24]:
id(frame)

2170546605384

In [25]:
ser = frame.iloc[:, 2]
ser[2]

1000

In [26]:
ser[2] = -1000
ser

Ohio           2
Colorado       6
Utah       -1000
New York      14
Name: three, dtype: int32

In [27]:
frame # frame仍旧发生了改变(具体参考array的修改与共享内存.ipynb)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9  -1000    11
New York   12   13     14    15

In [28]:
id(frame)

2170546605384