In [1]:
import numpy as np
import  pandas as pd

In [2]:
data1 = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data1

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [3]:
print(data1['one']) # 默认对★★列进行索引(注意:不支持data1[0])
print(type(data1['one'])) # 数据类型为Series
print(data1.loc[:, 'one']) # loc,iloc默认对行进行索引切片
print(data1.iloc[:, 0]) # 位置索引

Ohio         0
Colorado     4
Utah         8
New York    12
Name: one, dtype: int32
<class 'pandas.core.series.Series'>
Ohio         0
Colorado     4
Utah         8
New York    12
Name: one, dtype: int32
Ohio         0
Colorado     4
Utah         8
New York    12
Name: one, dtype: int32

In [4]:
print(data1[['three', 'one']]) # 索引多列数据
print(data1.loc[:, ['three', 'one']])
print(data1.iloc[:, [2, 0]])

          three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
New York     14   12
          three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
New York     14   12
          three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
New York     14   12

In [5]:
print(data1['Ohio' : 'Utah']) # 包含尾部(标签)(默认对行★★进行切片)
print(data1[0: 3]) # 不包含尾部(位置)
print(data1.loc['Ohio' : 'Utah']) # 包含尾部(标签)
print(data1.iloc[0 : 3]) # 不包含尾部(尾部)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11

In [6]:
# 切片多行和多列
print(data1.loc['Colorado', ['two', 'three']]) 
print(data1.iloc[1, [1, 2]])

two      5
three    6
Name: Colorado, dtype: int32
two      5
three    6
Name: Colorado, dtype: int32

In [7]:
print(data1.loc[['Colorado', 'Ohio'], ['two', 'three']])
print(data1.iloc[[1, 0], [1, 2]])

          two  three
Colorado    5      6
Ohio        1      2
          two  three
Colorado    5      6
Ohio        1      2

In [8]:
print(data1.loc[:'Utah', 'two'])
print(data1.iloc[:3, 1])

Ohio        1
Colorado    5
Utah        9
Name: two, dtype: int32
Ohio        1
Colorado    5
Utah        9
Name: two, dtype: int32

In [9]:
print(data1.loc[:'Utah', :'three'])
print(data1.iloc[:3, :3])

          one  two  three
Ohio        0    1      2
Colorado    4    5      6
Utah        8    9     10
          one  two  three
Ohio        0    1      2
Colorado    4    5      6
Utah        8    9     10

In [10]:
print(data1.loc['Ohio': 'Utah', 'three':'four'])
print(data1.iloc[0:3, 2:])

          three  four
Ohio          2     3
Colorado      6     7
Utah         10    11
          three  four
Ohio          2     3
Colorado      6     7
Utah         10    11

In [26]:
print(data1.iloc[0])
print(data1.iloc[0:1, :]) # 切片的结果为DataFrame

print(data1.iloc[0, 1])
print(data1.iloc[0:1, 1:2]) # 与上不相等(切片的结果为DataFrame)

one      0
two      1
three    2
four     3
Name: Ohio, dtype: int32
      one  two  three  four
Ohio    0    1      2     3
1
      two
Ohio    1

In [ ]:
print(data1 < 5 )
print(data1[data1 < 5]) # 布尔索引

In [12]:
data1.iloc[[0, 1, 2], [0, 2, 1]] # 笛卡尔积(与numpy中整数索引不同)

          one  three  two
Ohio        0      2    1
Colorado    4      6    5
Utah        8     10    9

In [13]:
data1.values[[0, 1, 2], [0, 2, 1]] # numpy中的整数索引

array([0, 6, 9])