These operations are similar to the aggregating API, groupby API, and resample API.

In [4]:
import  pandas as pd
import numpy as np


dfa = pd.DataFrame(np.random.randn(1000, 3),
                    index=pd.date_range('1/1/2000', periods=1000),
                    columns=['A', 'B', 'C'])
r = dfa.rolling(window=60, min_periods=1)
r.sum()

                   A         B         C
2000-01-01 -0.061697 -1.383779  0.456559
2000-01-02  0.289813 -1.720712  0.774160
2000-01-03  0.073269 -1.391545  2.006786
2000-01-04  1.415866 -1.547647  2.785758
2000-01-05  1.787372 -3.084915  2.845551
...              ...       ...       ...
2002-09-22  3.366380 -0.599975  5.962666
2002-09-23  2.543990 -1.758807  5.789357
2002-09-24  4.165219 -3.390163  2.886294
2002-09-25  4.297308 -3.827195  5.581808
2002-09-26  2.113206 -4.799348  6.234404

[1000 rows x 3 columns]

In [2]:
r.agg('sum') # 与上等价

                   A         B         C
2000-01-01 -0.208611 -0.653629 -0.150966
2000-01-02  0.851558 -0.357503 -0.196315
2000-01-03 -0.354365 -0.436378 -1.018730
2000-01-04  0.125172 -0.421115 -1.104078
2000-01-05  0.913002  0.411900 -0.686950
...              ...       ...       ...
2002-09-22  7.988417 -1.855877  4.749733
2002-09-23  8.994775 -3.440078  3.825041
2002-09-24  7.374663 -4.157817  2.168155
2002-09-25  7.909338 -4.178269  1.912223
2002-09-26  7.890159 -5.067090  3.688127

[1000 rows x 3 columns]

In [3]:
r['A'].agg(np.sum)

2000-01-01   -0.208611
2000-01-02    0.851558
2000-01-03   -0.354365
2000-01-04    0.125172
2000-01-05    0.913002
                ...
2002-09-22    7.988417
2002-09-23    8.994775
2002-09-24    7.374663
2002-09-25    7.909338
2002-09-26    7.890159
Freq: D, Name: A, Length: 1000, dtype: float64

In [59]:
r.agg(np.sum)['A'] # 与上等价

2000-01-01    -0.326871
2000-01-02    -0.360571
2000-01-03    -2.604854
2000-01-04    -2.508625
2000-01-05    -2.135215
                ...
2002-09-22   -13.340931
2002-09-23   -12.959840
2002-09-24   -13.433057
2002-09-25   -11.198289
2002-09-26    -9.505224
Freq: D, Name: A, Length: 1000, dtype: float64

In [60]:
# 如果传输的是函数或函数名的列表,将得到一个列名是这些函数名的DataFrame
r['A'].agg([np.sum, np.mean, np.std]) # Applying multiple functions

                  sum      mean       std
2000-01-01  -0.326871 -0.326871       NaN
2000-01-02  -0.360571 -0.180285  0.207303
2000-01-03  -2.604854 -0.868285  1.200632
2000-01-04  -2.508625 -0.627156  1.092512
2000-01-05  -2.135215 -0.427043  1.046620
...               ...       ...       ...
2002-09-22 -13.340931 -0.222349  0.982547
2002-09-23 -12.959840 -0.215997  0.979464
2002-09-24 -13.433057 -0.223884  0.970780
2002-09-25 -11.198289 -0.186638  0.968921
2002-09-26  -9.505224 -0.158420  0.972884

[1000 rows x 3 columns]

In [61]:
r.agg({'A': np.sum, 'B': lambda x: np.std(x, ddof=1)}) # 不同的函数应用到不同的列中

                    A         B
2000-01-01  -0.326871       NaN
2000-01-02  -0.360571  0.643658
2000-01-03  -2.604854  1.160876
2000-01-04  -2.508625  1.119116
2000-01-05  -2.135215  1.186318
...               ...       ...
2002-09-22 -13.340931  0.897182
2002-09-23 -12.959840  0.914524
2002-09-24 -13.433057  0.911818
2002-09-25 -11.198289  0.919374
2002-09-26  -9.505224  0.918932

[1000 rows x 2 columns]

In [62]:
r.agg({'A': 'sum', 'B': 'std'}) # 自带的聚合函数要加上''

                    A         B
2000-01-01  -0.326871       NaN
2000-01-02  -0.360571  0.643658
2000-01-03  -2.604854  1.160876
2000-01-04  -2.508625  1.119116
2000-01-05  -2.135215  1.186318
...               ...       ...
2002-09-22 -13.340931  0.897182
2002-09-23 -12.959840  0.914524
2002-09-24 -13.433057  0.911818
2002-09-25 -11.198289  0.919374
2002-09-26  -9.505224  0.918932

[1000 rows x 2 columns]

In [63]:
r.agg({'A': ['sum', 'std'], 'B': ['mean', 'std']})

                    A                   B
                  sum       std      mean       std
2000-01-01  -0.326871       NaN -0.180369       NaN
2000-01-02  -0.360571  0.207303 -0.635504  0.643658
2000-01-03  -2.604854  1.200632 -0.018931  1.160876
2000-01-04  -2.508625  1.092512 -0.316419  1.119116
2000-01-05  -2.135215  1.046620 -0.622372  1.186318
...               ...       ...       ...       ...
2002-09-22 -13.340931  0.982547 -0.009260  0.897182
2002-09-23 -12.959840  0.979464  0.017656  0.914524
2002-09-24 -13.433057  0.970780  0.015189  0.911818
2002-09-25 -11.198289  0.968921 -0.000933  0.919374
2002-09-26  -9.505224  0.972884 -0.016060  0.918932

[1000 rows x 4 columns]