In [41]:
import pandas as pd
import os

In [2]:
os.getcwd() # 返回当前工作目录

'D:\\PythonCode\\A_PythonBasis\\文件操作\\pandas模块文件读写'

In [3]:
pd.read_csv('D:/PythonCode/A_PythonBasis/文件操作/pandas模块文件读写/csv文件读写0.csv')

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [4]:
# 与上等价(因为当前工作目录为:D:/PythonCode/A_PythonBasis/文件操作/pandas模块文件读写,否则读取路径必须为绝对路径)
pd.read_csv('csv文件读写0.csv')

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [43]:
frame = pd.read_csv('csv文件读写0.csv', sep=',', header=None) # 默认sep=',',可使用正则表达式
frame

           0  1   2    3   4        5
0  something  a   b    c   d  message
1        one  1   2    3   4      NaN
2        two  5   6  NaN   8    world
3      three  9  10   11  12      foo

In [44]:
'''
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files
'''
pd.read_csv('csv文件读写0.csv', nrows=2, header=None)

           0  1  2  3  4        5
0  something  a  b  c  d  message
1        one  1  2  3  4      NaN

In [45]:
'''
path_or_buf : str or file handle, default None
    File path or object, if None is provided the result is returned as a string. If a file object is passed it should be opened with newline=’‘, disabling universal newlines.
'''
frame.to_csv(path_or_buf='csv文件读写1.csv') # Write object to a comma-separated values (csv) file.

In [46]:
import sys
'''
sep : str, default ‘,’
    String of length 1. Field delimiter for the output file.
'''
frame.to_csv(sys.stdout, sep='|')

|0|1|2|3|4|5
0|something|a|b|c|d|message
1|one|1|2|3|4|
2|two|5|6||8|world
3|three|9|10|11|12|foo

In [47]:
'''
na_rep : str, default ‘’
    Missing data representation.
''' 
frame.to_csv(sys.stdout, na_rep='空')

,0,1,2,3,4,5
0,something,a,b,c,d,message
1,one,1,2,3,4,空
2,two,5,6,空,8,world
3,three,9,10,11,12,foo

In [48]:
'''
header : bool or list of str, default True
    Write out the column names. If a list of strings is given it is assumed to be aliases for the column names.
'''
frame.to_csv(sys.stdout, header=None, index=True)

0,something,a,b,c,d,message
1,one,1,2,3,4,
2,two,5,6,,8,world
3,three,9,10,11,12,foo

In [49]:
'''
index : bool, default True
    Write row names (index).
'''
frame.to_csv(sys.stdout, header=None, index=False)

something,a,b,c,d,message
one,1,2,3,4,
two,5,6,,8,world
three,9,10,11,12,foo

In [50]:
'''
mode : str
    Python write mode, default 'w'.
'''
frame.to_csv('csv文件读写1.csv', sep='|', mode='a')  # 默认mode='w'

In [51]:
with open('csv文件读写1.csv', mode='r') as q:
    print(q.read())

,0,1,2,3,4,5
0,something,a,b,c,d,message
1,one,1,2,3,4,
2,two,5,6,,8,world
3,three,9,10,11,12,foo
|0|1|2|3|4|5
0|something|a|b|c|d|message
1|one|1|2|3|4|
2|two|5|6||8|world
3|three|9|10|11|12|foo