## concat(沿轴向连接)

In [13]:
import  pandas as pd
import  numpy as np
import warnings
warnings.filterwarnings('ignore')

df1 = pd.DataFrame(np.arange(6).reshape(3, 2), index=list('abc'), 
                   columns=['one', 'two'])
df2 = pd.DataFrame(5 + np.arange(4).reshape(2, 2), index=list('ac'), 
                   columns=['three', 'four'])

In [14]:
df1

   one  two
a    0    1
b    2    3
c    4    5

In [15]:
df2

   three  four
a      5     6
c      7     8

In [16]:
pd.concat([df1, df2], axis=0,  keys=['leval1', 'leval2'], join='inner')

Empty DataFrame
Columns: []
Index: [(leval1, a), (leval1, b), (leval1, c), (leval2, a), (leval2, c)]

In [17]:
pd.concat([df1, df2], axis=0,  keys=['leval1', 'leval2'], join='outer')

          four  one  three  two
leval1 a   NaN  0.0    NaN  1.0
       b   NaN  2.0    NaN  3.0
       c   NaN  4.0    NaN  5.0
leval2 a   6.0  NaN    5.0  NaN
       c   8.0  NaN    7.0  NaN

In [18]:
pd.concat([df1, df2], axis=1, keys=['leval1', 'leval2'], join='outer')

  leval1     leval2
     one two  three four
a      0   1    5.0  6.0
b      2   3    NaN  NaN
c      4   5    7.0  8.0

In [19]:
pd.concat({'leval1': df1, 'leval2': df2}, axis=1) # 与上等价

  leval1     leval2
     one two  three four
a      0   1    5.0  6.0
b      2   3    NaN  NaN
c      4   5    7.0  8.0

In [20]:
pd.concat([df1, df2], axis=1, keys=['level1', 'level2'], 
          names=['upper', 'lower']) # 多层索引的层级名称

upper level1     level2
lower    one two  three four
a          0   1    5.0  6.0
b          2   3    NaN  NaN
c          4   5    7.0  8.0

In [13]:
df3 = pd.DataFrame(np.random.randn(3, 4), columns=list('abcd'))
df4 = pd.DataFrame(np.random.randn(2, 3), columns=list('bda'))
print(df3, '\n', df4)

          a         b         c         d
0  1.592774  0.372586  0.200651  0.504043
1  1.028004  1.081367 -0.387061 -0.723741
2 -0.169781  0.509453  1.380419 -1.633215
           b         d         a
0  0.263380  0.998799  0.020102
1  0.951852  0.026049  0.521455

In [15]:
pd.concat([df3, df4], ignore_index=True) # 产生一段新的索引

          a         b         c         d
0  1.592774  0.372586  0.200651  0.504043
1  1.028004  1.081367 -0.387061 -0.723741
2 -0.169781  0.509453  1.380419 -1.633215
3  0.020102  0.263380       NaN  0.998799
4  0.521455  0.951852       NaN  0.026049