In [ ]:
import pandas as pd

df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
                            'two'],
                    'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                    'baz': [1, 2, 3, 4, 5, 6],
                    'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
df

In [4]:
df.pivot(index='foo', columns='bar', values='baz')

bar  A  B  C
foo
one  1  2  3
two  4  5  6

In [6]:
df.pivot(index='foo', columns='bar', values=['baz', 'zoo'])

    baz       zoo
bar   A  B  C   A  B  C
foo
one   1  2  3   x  y  z
two   4  5  6   q  w  t

In [19]:
# 如果有任何重复，则引发ValueErro
df = pd.DataFrame({"foo": ['one', 'one', 'two', 'two'],
                    "bar": ['A', 'A', 'A', 'C'],
                    "baz": [1, 2, 3, 4]})
df # df前两行重复

   foo bar  baz
0  one   A    1
1  one   A    2
2  two   A    3
3  two   C    4

In [20]:
df.pivot(index='foo', columns='bar', values='baz')

ValueError: Index contains duplicate entries, cannot reshape