In [ ]:
import numpy as np
import  pandas as pd

In [68]:
df = pd.DataFrame({'key1' : ['a', np.nan, 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})

df

  key1 key2     data1     data2
0    a  one  0.109636 -0.116764
1  NaN  two  0.605950 -0.851170
2    b  one  2.230405  0.420600
3    b  two -0.840177  1.396532
4    a  one  0.095336  0.329400

In [69]:
grouped = df['data1'].groupby(df['key1'])

In [70]:
grouped # GroupBy对象

In [71]:
for group in grouped:
    print(group) # 分组中任何缺失值将被排除在结果之外

('a', 0    0.109636
4    0.095336
Name: data1, dtype: float64)
('b', 2    2.230405
3   -0.840177
Name: data1, dtype: float64)

In [72]:
grouped.mean() # 计算每一个分组下的均值

key1
a    0.102486
b    0.695114
Name: data1, dtype: float64

In [73]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean() # 使用多个组分组
means # 返回一个包含唯一键对的多层索引

key1  key2
a     one     0.102486
b     one     2.230405
      two    -0.840177
Name: data1, dtype: float64

In [74]:
means.unstack() # unstack:行索引转为列索引

key2       one       two
key1
a     0.102486       NaN
b     2.230405 -0.840177

In [75]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])
years = np.array([2005, 2005, 2006, 2005, 2006])
df['data1'].groupby([states, years]).mean() # If an ndarray is passed, the values are used as-is determine the groups.

California  2005    0.605950
            2006    2.230405
Ohio        2005   -0.365271
            2006    0.095336
Name: data1, dtype: float64

In [76]:
df['key1'] = states
df['key2'] = years

In [77]:
df

         key1  key2     data1     data2
0        Ohio  2005  0.109636 -0.116764
1  California  2005  0.605950 -0.851170
2  California  2006  2.230405  0.420600
3        Ohio  2005 -0.840177  1.396532
4        Ohio  2006  0.095336  0.329400

In [78]:
means = df['data1'].\
    groupby([df['key1'], df['key2']]).mean() # 等同于:df.groupby([df['key1'], df['key2']]).mean()['data1']

In [79]:
means # 于上等价

key1        key2
California  2005    0.605950
            2006    2.230405
Ohio        2005   -0.365271
            2006    0.095336
Name: data1, dtype: float64

In [80]:
df.groupby(df['key1']).mean() # 默认情况下,对剩下的所有列进行分组

                   key2     data1     data2
key1
California  2005.500000  1.418177 -0.215285
Ohio        2005.333333 -0.211735  0.536389

In [81]:
df.groupby([df['key1'], df['key2']]).mean()

                    data1     data2
key1       key2
California 2005  0.605950 -0.851170
           2006  2.230405  0.420600
Ohio       2005 -0.365271  0.639884
           2006  0.095336  0.329400

In [82]:
df.groupby([df['key1'], df['key2']]).size() # size方法返回一个包含组大小信息的Series

key1        key2
California  2005    1
            2006    1
Ohio        2005    2
            2006    1
dtype: int64

In [83]:
df.groupby([df['key1'], df['key2']], as_index=True).mean() # 默认as_index=True

                    data1     data2
key1       key2
California 2005  0.605950 -0.851170
           2006  2.230405  0.420600
Ohio       2005 -0.365271  0.639884
           2006  0.095336  0.329400

In [84]:
df.groupby([df['key1'], df['key2']], as_index=False).mean()
# 通过groupby传递as_index=False来禁用分组健作为索引的行为

         key1  key2     data1     data2
0  California  2005  0.605950 -0.851170
1  California  2006  2.230405  0.420600
2        Ohio  2005 -0.365271  0.639884
3        Ohio  2006  0.095336  0.329400