In [ ]:
import numpy as np
import  pandas as pd

ser = pd.Series([1, 2], dtype='int32')
ser

In [45]:
ser_str = ser.astype('str')
ser_str[1]

'2'

In [41]:
ser # ser不变

0    1
1    2
dtype: int32

In [42]:
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                    columns=['a', 'b', 'c'], dtype=np.int32)
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [43]:
df.dtypes

a    int32
b    int32
c    int32
dtype: object

In [44]:
df_float = df.astype(np.float64)
df_float

     a    b    c
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0